body{
    font-family: 'Lato', sans-serif;
    overflow-x:hidden ;
    background-color: #ffffff;
}

.rows1
{
    background-color: #5C2A9D;
    color: white;
    
}
.cols1
{
     box-shadow: 0px 5px 24px 0px #00000040;
    
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #808080;
}

.btn-add
{
    background-color: #AD6FFF;
    color: #ffffff;
    border-radius: 20px;
}
.btn-add1
{
    background-color: #ffffff;
    color: black;
}


.card-title{
        font-weight: bold;
    }
li:active {
        color:#5C2A9D;
      }

    
.footer{
    background-color: #ECDEFF;
    color: 5C2A9D;
    
}
.card
{
    border:none;
    box-shadow: 0px 6px 22px 0px #5A6ACF24;
    

}
ul li
{
    line-height: 1.5rem;
}

.boxc
{
    background: #FFFFFF;
box-shadow: 0px 5px 7px rgba(90, 106, 207, 0.15);
border-radius: 15px;
width:10rem;
height: 5rem;
}

.b{
  display: inline;
}
.text
{
    color: #808080;
    text-align: center;
    font-size: 0.9rem;
}

/* li:hover
{
    height: 50px;
    border-left: 6px solid #5C2A9D;
    border-radius: 3px;
   margin-bottom: 1rem;
   color: #5C2A9D;
} */
@media (min-width: 576px) { 
 
 }


@media (min-width: 768px) { 

 }


/* @media (min-width: 992px) { 
    .card-title
    {
        font-size: 15px;
        font-weight:bold ;
    }
 } */

 .bordered
 {
    border: 2px solid #F2F2F2;

 }
 .line
 {
    border-bottom: 2px solid #F2F2F2 ;
 }
 .line:hover
 {
    border-left: 2px solid #5C2A9D;
 }

